html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}.clearfix:after{visibility:hidden;display:block;font-size:0;content:'';clear:both;height:0}html{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}.sr-only{position:absolute;width:1px;height:1px;margin:-1px;border:0;padding:0;white-space:nowrap;clip-path:inset(100%);clip:rect(0 0 0 0);overflow:hidden}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}


/* GENERAL STYLES ----------------------- */
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif; 
    font-size: 1.6rem;
    color: #3a3a3a;
    background-color: #f5f5f5;
}

h1,
h2,
h3,
p,
ol,
ul,
li {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    color: #ffe1f9;
}

.wrapper {
    width: 85%;
    max-width: 1300px;
    margin: 0 auto;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

h1 {
    font-family: 'Maitree', serif;
    font-size: clamp(5.5rem, 6vw, 10rem);
    width: 300px;
    color: #fff;
    text-shadow: 3px 2px 1px #b20062;
}

h2 {
  font-size: clamp(2rem, 1.9vw, 2.2rem);
  font-weight: 700;
  text-transform: uppercase;
}

button {
  font-family: inherit;
  font-weight: 400;
}

header {
    height: 80vh;
    display: flex;
    align-items: flex-end;
    background-image: linear-gradient(to bottom,rgba(255, 225, 249, .1), rgba(10, 10, 10, .2)), url('./assets/thomas-park-unsplash.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    padding-bottom: 100px;
}

.caffeine {
    display: block;
}

.animate__bounceIn {
    animation-duration: 2.5s;
}



/* Main section ----------------------- */
.mainContainer{ 
  min-height: 600px;
}

/* Instructions section ----------------------- */
.instructionsSection {
  margin: 50px 0px;
  padding-bottom: 50px;
  border-bottom: 3px solid #b20062;
}

.instructionsSection h2 {
  padding-bottom: 15px;
}

.instructionsSection p:not(:last-child) {
    padding-bottom: 10px;
}

/* FORM -----------------------------------  */
form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 50px;
}

form button:hover,
form button:focus {
  cursor: pointer;
}

form input {
  height: 45px;
  padding: 10px;
  background: #f5f5f5;
  border: none;
  border-bottom: 2px solid #a5a5a5;
}

/* FORM > TOP SECTION --------------------------- */
.formTopSection {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.formTopSection label,
.formBottomSection label {
  font-weight: 700;
  text-transform: uppercase;
  min-width: 200px;
  max-width: 200px;
}


/* FORM > TOP SECTION > INPUT LOCATION CONTAINER ---------------------------- */

.inputLocationContainer {
  position: relative;
  width: 58%;
}

.inputLocation {
  width: 100%;
}

.inputLocation:focus {
  outline-color: #b20061;
}

/* FORM > TOP SECTION > INPUT LOCATION CONTAINER > AUTOCOMPLETE ----------------------------------- */
.inputLocationAutoComplete {
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  z-index: 100;
  border: 1px solid #350482;
  box-shadow: 0 2px 3px rgba(53, 4, 130, 0.4);
  overflow: scroll;
  max-height: 230px;
}

.autoCompleteResults button {
  border: 0;
  background-color:#b20061;
  color: #ffe1f9;
  padding: 10px 0 10px 10px;
  width: 100%;
  text-align: left;
  transition: background-color 0.3s;
}

.autoCompleteResults:not(:last-of-type) button {
  border-bottom: 1px solid #ffe1f9;
}

.autoCompleteResults button:hover,
.autoCompleteResults button:focus {
  cursor: pointer;
  background-color: #350482;
}

/* FORM > BOTTOM SECTION---------------------------------   */
.formBottomSection {
  display: flex;
  align-items: center;
}

.inputRadius {
  margin-right: 30px;
  width: 150px;
}

.formBottomSection p {
  text-transform: uppercase;
  width: 20%;
  text-align: right;
}

.formBottomSection span {
  text-transform: lowercase;
  display: block;
}

/* FORM > BOTTOM SECTION > SELECTED RADIUS CONTAINER -----------------------------------   */
.selectedRadiusContainer {
  position: relative;
  padding: 10px;
  width: 50px;
  border: 2px solid transparent;
}

.selectedRadiusContainer label {
  position: absolute;
  bottom: -10px;
  left: -10px;
  text-align: center;
  width: 100%;
  border: 2px solid transparent;
}

.selectedRadiusContainer label::after {
  content: '';
  padding: 10px;
  border: 2px solid #b20061;
  border-radius: 50%;
  transition: background-color 0.3s;
  position: absolute;
  top: -35px;
  left: 8px
}

.selectedRadiusContainer input:checked + label::after {
  background-color: #350482;
}

/* FORM > BOTTOM SECTION > SUBMIT BUTTON -----------------------------------  */
.formSubmitButton {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #b20061;
  color: #ffe1f9;
  border: 0;
  text-transform: uppercase;
  border: 2px solid transparent;
  transition: background-color 0.3s, border-color 0.3s;
}

.formSubmitButton:hover,
.formSubmitButton:focus {
  background-color: #350482;
  border-color: #b20061;
}
.mapAndCoffeeShopContainer {
    display: flex;
    justify-content: space-around;
    background-color: rgb(225, 221, 221);
    min-height: 600px;
    padding: 25px;
    margin-bottom: 50px;
    border: 2px solid #ffe1f9;
    border-radius: 10px;
}




/* MAP------------------------------------------- */
.map {
    width: 50%;
    /* background-color: black; */
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.map img {
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
    /* width: 400px; */
    /* height: 500px; */
    border-radius: 10px;
    border: 2px solid #CACACA;
}

/* Loading spinner ---------------------------------*/
/* in the event API map call is delayed */ 

.spinnerContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  border: 20px solid #ffe1f9;
  border-top: 20px solid #350482;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  animation: spin 2s linear infinite; 
}

@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

/* COFFEE SHOPS -------------------------------------------  */
.coffeeShops {
    width: 45%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    
}
.coffeeShops h2 {
  height: 10%;
  padding-bottom: 10px;
}

.coffeeShopsContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    list-style: none;
}

.coffeeShopButton {
    width: 100%;
    margin: 0;
    height: 80px;
    background-color: #350482;
    color: #ffe1f9;
    text-align: left;
    padding: 0 15px 0 15px; 
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    transition: filter 0.3s;
}

.coffeeShops button:hover,
.coffeeShops button:active,
.coffeeShops button:focus {
    /* background-color: rgb(218, 205, 205); */
    /* color: black; */
    filter: brightness(120%);
}

.coffeeShops button:active {
    /* background-color: rgb(201, 198, 198); */
}

.coffeeShopNumber {
  font-size: 3rem;
  margin-right: 10px;
}


.coffeeShopText h3 {
  font-size: 1.6rem;
  margin-bottom: 3px;
}

/* Transportations and directions ----------------------- */
.transportationAndDirections {
    /* margin: 50px 0; */
}

.transportation {
    /* margin-bottom: 25px; */
}

.transportation ol {
  list-style-position: inside;
}

.transportation ol li:not(:last-child) {
    padding-bottom: 10px;
}

.transportationButton {
  text-transform: uppercase;
  background-color: #b20061;
  font-weight: 700;
  color: #ffe1f9;
  border: none;
  padding: 10px;
  border-radius: 10px;
  transition: filter 0.3s;
}

.directionMarkers {
  display: flex;
  justify-content: space-around;
}

.directionMarkerContainer img {
  width: 40px;
  height: auto;
}

.modeOfTransportationInputContainer {
  margin: 10px 0;
}



/* FOOTER -------------------------------------*/

footer {
    color: #fff;
    background-color: #350482;
    padding: 25px 0px;
}

footer p {
    font-size: clamp(1.4rem, 1.4vw, 1.5rem);
    text-transform: uppercase;
}

.footerFlex {
    display: flex;
    justify-content: space-between;
}

.creators {
    font-weight: bold;
    width: 60%;
}

.photoCredit {
    width: 40%;
    text-align: right;
}

/* MEDIA QUERIES 500px--------------------------------------*/
@media (max-width: 500px) {
    .footerFlex {
        flex-direction: column;
        align-items: center;
    }

    .creators {
        padding-bottom: 15px;
    }

    .creators,
    .photoCredit {
        width: 100%;
        text-align: center;
    } 
}




